
jupiter/target/classes/external/MonkeyLearnClient.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/publish.txt
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.core.resources/.history/83/00cf89223ce8001a1fc4e4b91bebdc0d
.metadata/.log
